<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IMP Binder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="view.css" />
  <meta name="description" content="The page description" >
  <meta property="og:image" content="preview.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="preview.jpg">
  
  <script id="pageScript">
    //if page changed
    function IframeLoaded(){
        const f = document.getElementById("display");
        try{
          window.document.title = f.contentWindow.document.title;
          const p = f.contentWindow.location.pathname;
          window.location.hash = "#" + p
          .replace(/#[^#]+$/ , "")
          }catch{
        }
    }
      //check if there is a hash (open that file) 
      window.addEventListener("load" , ()=>{
        const f = document.getElementById("display");
         if(window.location.hash.length>3){
           const loc = window.location.hash.substring(1);
           window.currentPage = loc;
           const ifr = document.getElementById("display");
           ifr.setAttribute("src" , loc + "#view");

           }else{
           window.currentPage = f.getAttribute("src");
         }
         f.addEventListener("load" ,IframeLoaded);
      })

     //add editor, if we opened locally
     if(window.location.protocol=="file:"){
       window.addEventListener( "load" , ()=>{
         const e = document.createElement("script");
         e.id="editorScript";
         e.src = "editor.js";
         window.document.body.appendChild(e);
       });
     }

  </script>
  
</head>
<body>
  <aside>
  <div id="logo">IMP!<br/>Bin<br/>der</div>
  <nav id="menu">
  <ul>
    <li><a href="cover.html#view" target="display" data-title="O la la">Main</a></li>
    <li><a href="page.html#view" target="display">Second</a></li>
  </ul>
  </nav>
  </aside>
  <iframe name="display" id="display" src="cover.html#view" >
    This pages uses iframe :(
  </iframe>
</body>
</html>

