$mwidth: 800px;
    body,html{
      padding: 0;
      margin:0;
      min-height: 100vh;
      
    }
    .mobile{
      display: none;
      @media(max-width: $mwidth){
        &{
          display: inherit
        }
      }
    }
    .desktop{
      display: inherit;
      @media(max-width: $mwidth){
        &{
          display: none;
        }
      }
    }
    body{
      height: 100%;
      background-color: #333;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      font-family: Arial, Helvetica, sans-serif;
      @media(max-width: $mwidth){
        &{
          flex-direction: column;
        }
      }
    }
    #logo.desktop{
      // height: 200px;
      font-weight:900 ;
      font-size: 48px;
      text-align: left;
      padding: 32px 32px;
text-shadow: black 1px 0 10px;
    }
    #logo-mobile{
      float: left;
      max-width: 64px;
      margin: 16px;
      font-size: 28px;
      line-height: 80%;
      width: 24px;
      height: 24px;
    }
    #burger{
      width: 24px;
      height: 24px;
      // border: 1px solid red;
      float: right;
      // margin-top: 8px;
      margin: 16px;
      cursor: pointer;
      hr{
        border: none;
        height: 2px;
        width: 100%;
        background-color: white;
        margin-top: 0;
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    aside{
      display: block;
      max-width: 300px;
      @media(max-width: $mwidth){
        width: 100%;
        max-width: 100%;
      }
    }
    nav{
      display: flex;
      flex-direction: column;
      float: left;
      width: 100%;
      padding: 0px;
      @media(max-width: $mwidth)
      {
        &.hidden{
          display: none;
        }
      }
      // justify-content: center;
      ul{
        padding:0;
        margin:0;
        padding-bottom: 15vh;
        width: 100%;
        @media(max-width: $mwidth){
          &{
            padding-bottom: 0;
            display: block;
            // display: flex;
            // flex-rap: wrap;
          }
        }
      }
      li{
        list-style: none;
        margin-bottom: 0;
      }
      a{
        color: white;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: block;
        padding: 8px 32px;
        padding-right: 32px;
        &:hover{
          color: ivory;
          background-color: #444;
        }
        @media(max-width:$mwidth){
          &{
            padding: 8px 16px;
          }
        }
      }
    }
    #display{
      display: block;
      background-color: white;
      border: none;
      top: 0;
      right: 0;
      // height: 100vh;
      width: 100%;
        @media(max-width:$mwidth){
          &{
            height: auto;
            flex-grow: 1;
          }
        }
      
    }
    

  
